.seats div{
 width: fit-content;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; margin: auto;  
 padding: 10px;
 border-radius: 10px;
 cursor: pointer;
 border: 1px solid black;

}
.seats{
    margin: auto;
    text-align: center;
    justify-content: center;
}

.seatindication{
  width: fit-content;
  padding-left: 200px;
}

.column{
  display: flex;
  gap: 60px;
  text-align: center;
}

.selected {
    background-color: green; /* Background color for selected seats */
    color: white;
  }
  .screen{
    width: 65%;
    margin: auto;
    border: 5px solid rgb(156, 156, 235);
  }
  button{
    width: auto;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    background-color: rgb(138, 233, 138);
    padding: 7px;
  }

  .booking-details{
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    width: fit-content;
    margin: auto;
  }

  input{
    height:40px;
    font-size: 15px;
    border-radius: 10px;
  }

  .booked {
    background-color: rgb(88, 88, 88);
    color: white; /* You can adjust text color for better visibility */
    cursor: not-allowed; /* Change cursor to not-allowed for disabled seats */
  }

  .book{
    background-color: rgb(88, 88, 88);
    width: 50px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
  }
  .available{
    color: transparent;
    width: 50px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
  }

  .confirmbox{
    border: 1px solid black;
    margin: auto;
    width: fit-content;
    padding: 20px;
  }

  .qr{
height: 300px;
    width: 400px;
  }




  /* //////////////////////////*/


  /* Add these styles to your CSS file or component */

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}
/* 
tr:nth-child(even) {
  background-color: #f2f2f2;
} */

tr:hover {
  background-color: #ddd;
}
